<link rel="stylesheet" href="/stylesheets/profile.css" type="text/css" media="screen" />
<div class="container">
	<div id="basic-profile">
		<div id="profile-image"></div>
		<div id="profile-info">
			<h1 id="userName"> {{userName}} </h1>
			<h3 id="location">Location: {{userLocation}}</h2>
			<h3 id="userHref" class="hidden">{{userHref}}</h2>
			<h3 id="signalStatus" style="color:{{signalColor}}">Current Signal Status: {{signal}}</h2>
			<button id="clearButton" type="button" class="btn btn-primary" onclick="changeBack()">CLEAR SIGNAL</button>
		</div>
	</div>
	<br><br>
	<br><br>
	<script src="/js/profile.js"></script>
	<script>
	function changeBack(){
		 $('body').removeClass('animated');
		 $('body').css('background', 'black').fadeIn(2000);
	};	
	</script>
</div>